OFTL_SCA_VERSION="1"

OFTL_LOG_LEVEL="INFO"
OFTL_LOG_FORMAT="[%(asctime)s] %(levelname)s [%(name)s.%(funcName)s:%(lineno)d] %(message)s"

OFTL_POSTGRESDB_USERNAME="admin"
OFTL_POSTGRESDB_PASSWORD="[CHANGE ME]"
OFTL_POSTGRESDB_HOST="localhost"
OFTL_POSTGRESDB_PORT=5432
OFTL_POSTGRESDB_NAME="public"
OFTL_POSTGRESDB_SCHEMA="public"
OFTL_POSTGRESDB_POOLSIZE=10

OFTL_RABITMQ_HOST="localhost"
OFTL_RABITMQ_PORT=5672
OFTL_RABITMQ_USERNAME="guest"
OFTL_RABITMQ_PASSWORD_SECRET="[CHANGE ME]"
OFTL_RABITMQ_VHOST="/"
OFTL_RABITMQ_HEARTBEAT=60
OFTL_RABITMQ_BLOCKED_CONNECTION_TIMEOUT=30
OFTL_RABITMQ_CONNECTION_ATTEMPTS=3
OFTL_RABITMQ_CONN_RETRYCOUNT=3
OFTL_RABITMQ_RETRY_DELAY=2
OFTL_RABITMQ_SOCKET_TIMEOUT=5
OFTL_RABITMQ_STACK_TIMEOUT=10
OFTL_RABITMQ_QUEUE_DURABLE="true"
OFTL_RABITMQ_MESSAGE_PERSISTENT="true"
OFTL_RABITMQ_PUBLISH_MANDATORY="false"
OFTL_RABITMQ_SAGA_REQUEST_QUEUE="PAYTRACE.SAGA.REQ"
